footer{
    padding-top:1rem; 
    padding-bottom: 1rem;
}
.nav{
    justify-content: space-around;
}

/* Logos de redes sociales */

footer img {
    height: 30px;
    width: 30px;
}

.footerNav--FirstItem{
    align-self: center;
}

.footerNav--lastItem{
    align-self: center;
}

/* Paso a columna para ordenar los items */
@media (max-width: 450px) {
    .nav{
        flex-direction: column;
        align-items: center;

    }
    .footerNav--FirstItem{
        order: 4;
        margin: 10px;
    }
}
