header {
    margin-bottom: 1rem;

    .header__navbar{
        box-shadow: 2px 2px 20px black;

        .a__header__img {
            height: 40px;
        }
        
        .nav-item {
            margin-left: 1rem;
        }
    }
}

/* Sin margen en index por estetica visual */
.header__index{
    margin-bottom: 0;
}